
.ad{
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: relative;
    width: 550px;
    height: 600px;
    left: 340px;
    top: 35px;
    border-radius: 90px;
    box-shadow: 20px 30px 90px 0 black;
}
body{
    background-image: url("fondo.jpg");
    
}
.nombreinput{
    border-radius: 56px;
    position: relative;
    top: 46px;
    left: 60px;
    width: 220px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    height: 30px;
}
.Nombre{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: relative;
    left: 69px;
    top: 40px;
    z-index: 1;
}
.edad{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: relative;
    z-index: 1;
    bottom: 90px;
    left: 310px;
}
.inputedad{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 65px;
    border-style: solid;
    position: relative;
    left: 300px;
    width: 220px;
    height: 30px;
    bottom: 87px;
}
.contrainput{
    border-radius: 56px;
    border-style: solid;
    width: 450px;
    height: 30px;
    position: relative;
    top: 100px;
    right: 40px;
}
.Contraseña{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: relative;
    z-index: 1;
    top: 70px;
    left: 70px;

}
.inputEmail{
    border-radius: 56px;
    border-style: solid;
    height: 30px;
    width: 459px;
    position: relative;
    bottom: 7px;
    top: 60px;
    left: 56px;
}
.Email{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: relative;
    top: 52px;
    left: 70px;
}
.inicio{
    position: relative;
    left: 165px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
    text-shadow: 20px 30px 90px black;

}
.button{
    border-radius: 56px;
    border-style: solid;
    height: 30px;
    position: relative;
    top: 100px;
    left: 105px;
    
}

.caja{
    position: relative;
    top: 100px;
    z-index: 1;
}
.selector{
    border-radius: 56px;
    height: 30px;
    position:relative;
    top: 56px;
    left: 200px;
    
    
}
img{
    width: 100%;
    height: 100%;
}